input[type=checkbox] {
	transform: scale(2);
}

#image-preview {
	margin-bottom: 14px;
	padding-bottom: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.input-right {
    text-align: right;
}

.custom-file-label {
    overflow: hidden;
}

.heading{
    padding-top:20px;
}