.heading{
    padding-top:30px;
}


#product-navigation-xs button {
    width: 100%;
}

#filter-group {
    margin-bottom: 30px;
    padding: 6px 12px;
    background: #E9ECEF;
    border: 1px solid #CED4DA;
    border-radius: 2px;
}

#filter-group .dropdown {
    max-width: 200px;
    float: right;
}

#filter-group::after {
    content: "";
    display: block;
    clear: both;
}

#product-count {
    display: inline-block;
    padding-top: 7px;
}

.product-container a {
    text-decoration: none;
    color: black;
}

.product-price {
    color: #28A745;
    font-size: 1.5rem;
}

.product-container {
    margin-bottom: 30px;
}

.image-preview {
    padding-bottom: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#nutritional-preview {
    width: 100%;
}

.quebec-icon {
    z-index: 9;
    transform: rotate(-10deg);
    position: absolute;
    left: 7px;
    top: -8px;
    background-color: #E9ECEF;
    border: 1px solid #CED4DA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@media (max-width: 768px) {

    #product-navigation-xs {
        display: block;
    }

    #product-navigation {
        display: none;
    }
}

@media (min-width: 768px) {

    #product-navigation-xs {
        display: none;
    }

    #product-navigation {
        display: block;
    }
}

.recette-list{
    padding-top:10px;
    padding-bottom:10px;
}

.recette-list-item{
    padding:5px;
    color:#17a2b8;
}

.link:hover{
    color:#17a2b8 !important;
}