.bouton_modif{
    width: 170px;
    height: 24px;
}

.bouton_delete{
    width: 87px;
}

.li{
    height: 55px;
    text-align: center;
}

.ul{
    padding-left: 0px;
    list-style-position: inside;
}


.alignement{
    text-align: center;
}
.bouton_ajout{
    position: absolute;
}

.tableau{
    width: 375px;
    margin: auto;
    alignment: center;
}
tr:nth-child(even){background: #CCC}
tr:nth-child(odd){ background: #FFF}
.tdNom{
    width: 666px ;
}