.nav-active-clr{
    color:white !important;
}

.lecart{
    color:gray;
}

.lecart-actif{
    color:white;
}

.master-logo {
    width:200px;
    height:35px;
	background-position: center;
    background-size: cover;
}

#category-banner {
    color: white;
    text-shadow: 0 0 10px black;
    box-shadow: 100vw 100vh inset rgba(0, 0, 0, 0.5);
    margin-bottom:0px;
}

.lien:hover{
    color: white !important;
}
