.pagination li{
    border-radius: 2px;
    border-style:solid;
    border-width:1px;
    display:block;
    margin:5px;
    background-color:#1188FF;
}

.pagination li:hover{
    background-color:#115599;
}

.pagination a{
        padding:3px 9px;
        color:white;
}

.pagination a:hover{
        color:white;
        text-decoration: none;
}

.pagination span{
        padding:3px 9px;
        color:white;
}