
.basket-product {
    position: relative;
    margin-bottom: 30px;
}

.basket-remove {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.image-preview {
    padding-bottom: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.product-price {
    color: #28A745;
    font-size: 1.5rem;
}

.affix {
    position: fixed;
    top: 30px;
}