
.periode-container{
    border-bottom:solid;
    border-width:1px;
    padding:5px;
    padding-top:15px;
    padding-bottom:15px;
    color:grey;
}

.periode-active-container:hover{
    background-color:honeydew;
}

.periode-container:hover{
    background-color:honeydew;
}

.start-in{
    color:#005500;
    font-weight: 600;
}

.separation{
    margin-top:20px;
    margin-bottom:15px;
    background-color:#555555;
    height: 2px;
}

.progress{
    background-color:#d4d4dc !important;
}

.cueil{
    font-weight: 500;
}

#signature-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:200px;
    background-color: white;
}