.icon-preview {
    width:16px;
    height:16px;
    background-position: center;
    background-size: cover;
    margin-top:8px;
    margin-bottom:7px;
    background-color:transparent;
}

.logo-preview {
    width:200px;
    height:35px;
	background-position: center;
    background-size: cover;
    margin-bottom:15px;
    background-color:#343a40;
}

.banniere-preview {
    width: 63vw;
    height: 15vh;
	background-position: center;
    background-size: cover;
    margin-bottom:15px;
}

.car-preview {
    width: 63vw;
    height: 20vh;
	background-position: center;
    background-size: cover;
    margin-bottom:15px;
}

.margin-card{
    margin-bottom:20px;
}


.btn-tab {
    color: #fff !important;
    background-color:#435f69;
    border-color: #435f69;
}


.btn-tab:hover {
    color: #fff !important;
    background-color:#435f69 !important; 
    border-color: #435f69 !important;
}

.collapsed{
    color: #000 !important;
    background-color:transparent !important; 
    border-color: #435f69 !important;
}

.footer-preview{
    background-color: #343a40;
}

.footer-preview span{
    color:#fff;
}

.footer-preview p{
    color:#fff;
}

.footer-preview h5{
    color:#fff;
}

.foot-padding{
    padding-bottom:40px;
}

.head-padding{
    margin-bottom:40px;
}

.card{
    margin-bottom:5px;
}

.card p {
    margin-bottom: 0;
}

.small-note{
    color:gray;
}