
.bouton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: right;
}

.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    text-align: right;
    background-color:#333;
    color:#fff;
}

.bgCarousel{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: auto;
    height: 300px;
    position: relative;
     box-shadow: 100vw 100vh inset rgba(0, 0, 0, 0.5);
}

