
html, body {
	margin: 0;
	height: 100%;
	min-width: 320px;
}

main {
	min-height: 100%;
}

footer {
	margin-top: 30px;
	background: #343a40;
	color: white;
}

a:not(.btn) {
	color: black;
}

a:hover:not(.btn) {
	text-decoration: none;
	color: black;
}

.brand-logo {
	width: 75%;
}

#category-banner {
	overflow-x: hidden;
	margin-bottom:0px;
}

.custom-file-label::after{
	content:"Parcourir" !important;
	}