

.start-in{
    color:#005500;
    font-weight: 600;
}

.progress{
    background-color:#d4d4dc !important;
}

.cueil{
    font-weight: 500;
}

.small-card{
    padding:0px;
    padding-left:3px;
    padding-right:3px;
}

.medium-font{
    font-size:20pt;
}

.huge-font{
    font-size:59pt;
}

.card-link:hover{
    background-color:lightgray;
}

.card-holder{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding:5px;
    background-color:lightgray;
}

.card-cursor{
   cursor: -webkit-grab;
}

.linkhov:hover{
    color:lightslategrey !important;
}

.stat-max{
    max-height: 300px;
}

@media only screen and (max-width: 767px){
    .fixed-drag{
    position:fixed;
    bottom: 25px;
    left: 80%;
    }
}


